@page "/"

<PageTitle>Workday Calendar Disclaimer</PageTitle>

<h1>WorkDay Calendar</h1>

<p>
<h5>
 Architecture and Desin Pattern
</h5>
    This application uses the singleton design pattern ,where it uses the one insatnce for one user for the application.
    SOLID: following Solid Principles it is uses single responsibility and Dependency injection.
    DDD: It follows domain driven while it uses the ubiqutos language and made the Domain as calendar
    <h5>Tech Stack
    </h5>
     <p>
         .net
         Blazor
         Ms Test
         
     </p> 
</p>
